<template lang="pug">
div.container
  div(v-if="!event")
    loading-spinner(message="Loading the event, visitors and members. Yeah, it takes a while...")

  div(v-else)
    b-modal(ref="visitorUpdateModal" title="Now that you're here..." header-bg-variant="info" header-text-variant="light" @ok="quickUpdateVisitor")
      b-form(v-if="lastVisitor")
        b-form-row.mb-1
          h6 It's been a while. Are these still up-to-date?
            br/
            small.text-muted We ask every 6 months
        b-form-row
          b-form-group.col-sm(label="First Name" label-for="firstName")
            b-input(type="text" name="firstName" v-model="lastVisitor.firstName")
          b-form-group.col-sm(label="Last Name" label-for="lastName")
            b-input(type="text" name="lastName" v-model="lastVisitor.lastName")
        b-form-row.mb-4
          b-form-group.col-sm(label="Email" label-for="email")
            b-input(type="email" name="email" v-model="lastVisitor.email")
          b-form-group.col-sm(label="Organization" label-for="organization")
            b-input(type="text" name="organization" v-model="lastVisitor.organization")

      template(v-slot:modal-footer="{ ok, cancel }")
        b-button.m-1(size="sm" variant="secondary" @click="cancel") Not now
        b-button.m-1(size="sm" variant="primary" @click="ok") Looks good!

    div.row.justify-content-center
      b-alert(v-if="oldEvent" variant="warning" show) <strong>Warning!</strong> This is a past event. Checking people in will mess historical data.
    div.row.justify-content-center.text-center
      h1 {{event.name}} ({{ formatDate(event.date, "dd.MM.yyyy") }}) in {{event.location}}
    div.row.justify-content-center.text-center.mb-5
      p {{totalCheckedInVisitors}} checked in so far

    div.row.justify-content-center.text-center.user-search-box.mb-4
      b-form(inline)
        b-input(type="text" placeholder="Search" v-model="searchText" @input="resultLimit = 20" debounce="500")
        | &nbsp;&nbsp;OR&nbsp;&nbsp;
        b-button(variant="info" size="lg" @click="showQuickAddForm = !showQuickAddForm") Add New
        | &nbsp;&nbsp;OR&nbsp;&nbsp;
        b-button(variant="primary" size="lg" :to="'kiosk/' + event._id") Open Kiosk Mode

    div.jumbotron(v-show="showQuickAddForm")
      h2 Quick Create & Check-in
      b-form
        b-form-row
          b-form-group.col-sm(label="First Name *" label-for="firstName")
            b-input(type="text" name="firstName" v-model="newVisitor.firstName" required)
          b-form-group.col-sm(label="Last Name *" label-for="lastName")
            b-input(type="text" name="lastName" v-model="newVisitor.lastName" required)
        b-form-row
          b-form-group.col-sm(label="Email *" label-for="email")
            b-input(type="email" name="email" v-model="newVisitor.email" required)
          b-form-group.col-sm(label="Organization" label-for="organization")
            b-input(type="text" name="organization" v-model="newVisitor.organization")
        b-form-row.justify-content-center
          b-button.mr-3(variant="success" @click="quickAddVisitor(newVisitor)" :disabled="!isFormValid") Add Visitor
          b-button(variant="warning" @click="resetQuickAddForm") Cancel

    div.row.d-flex.justify-content-center
      div.col-lg-5.col-md-6.col-xl-4
        b-list-group
          b-list-group-item(active) Visitors
          b-list-group-item.table-row-link.d-flex.justify-content-between.align-items-center(v-for="visitor in displayedVisitors" :key="visitor._id" @click="toggleCheckIn(visitor)" button :variant="visitor.checkedIn ? 'secondary' : 'default'")
            span(v-if="visitor.organization") {{visitor.firstName}} {{visitor.lastName}} <small class="text-muted">| {{visitor.organization}}</small>
            span(v-else) {{visitor.firstName}} {{visitor.lastName}}
            b-badge(v-show="visitor.isLoading" variant="secondary")
              fa-icon(icon="spinner" size="1x" spin)
              |  Updating...
            b-badge(v-show="visitor.checkedIn && !visitor.isLoading" variant="success") Checked-in
        p.text-center {{visitorSearchResults.length}} search results
          |
          |
          span(v-show="displayedVisitors.length < visitorSearchResults.length") ({{displayedVisitors.length}} shown)

      div.col-lg-5.col-md-6.col-xl-4
        b-list-group
          b-list-group-item(active) Active Members
          b-list-group-item.d-flex.justify-content-between.align-items-center(v-for="member in displayedMembers" :key="member.igdaFinlandId")
            span {{member.firstName}} {{member.lastName}} <small class="text-muted">| {{member.igdaFinlandId}}</small>
            b-badge(variant="warning" v-if="member.membershipType == 'Lifetime'") <fa-icon icon="star"></fa-icon> Lifetime
            b-badge(variant="success" v-else-if="member.validUntil > expiryThreshold") <fa-icon icon="check"></fa-icon> {{member.membershipType}}
            b-badge(variant="success" v-else-if="member.validUntil > new Date()") <fa-icon icon="clock"></fa-icon> {{member.membershipType}}
            b-badge(variant="secondary" v-else) Expired
        p.text-center {{memberSearchResults.length}} search results
          |
          |
          span(v-show="displayedMembers.length < memberSearchResults.length") ({{displayedMembers.length}} shown)

    div.row.justify-content-center
      b-button(v-show="displayedVisitors.length < visitorSearchResults.length || displayedMembers.length < memberSearchResults.length" size="sm" variant="info" @click="loadMore()") Load more
</template>

<script lang="ts" setup>
import { formatDate } from '../utils'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'
import { computed, onMounted, ref, getCurrentInstance } from 'vue'
import type { Event, NewVisitor, Visitor, MCGroup, IndividualMemberCard, Affiliate } from 'types'
import { useRoute } from 'vue-router/composables'

const route = useRoute()

const event = ref<Event>()
const visitors = ref<Visitor[]>([])
const members = ref<IndividualMemberCard[]>([])

const groups = ref<MCGroup[]>([])

const searchText = ref('')
const oldEvent = ref(false)
const totalCheckedInVisitors = ref(0)
const resultLimit = ref(20)
const expiryThreshold = ref(new Date())

const showQuickAddForm = ref(false)
const newVisitor = ref<NewVisitor>({
  email: '',
  firstName: '',
  lastName: '',
  lastUpdated: new Date(),
  organization: '',
  interests: {}
})
function resetQuickAddForm () {
  showQuickAddForm.value = false
  newVisitor.value = {
    email: '',
    firstName: '',
    lastName: '',
    lastUpdated: new Date(),
    organization: '',
    interests: {}
  }
}

const lastVisitor = ref<Visitor>()
async function quickUpdateVisitor () {
  if (lastVisitor.value) {
    try {
      await axios.put('/api/visitors/' + lastVisitor.value._id, lastVisitor.value)
      showSuccess('Visitor updated', lastVisitor.value.firstName + ' ' + lastVisitor.value.lastName + ' is now up-to-date!')
    } catch (err: any) {
      showError('Updating visitor failed', err.response.data)
    }
  }
}

const isFormValid = computed(() => {
  if (newVisitor.value.firstName === '' || newVisitor.value.lastName === '' || newVisitor.value.email === '') return false
  return true
})

const visitorSearchResults = computed(() => {
  return visitors.value.filter(visitor => {
    const s = searchText.value.toLowerCase()

    // These could be cached but does it matter?
    const lastAndFirst = visitor.lastName + ' ' + visitor.firstName
    const firstAndLast = visitor.firstName + ' ' + visitor.lastName

    if (firstAndLast.toLowerCase().includes(s)) return true
    if (lastAndFirst.toLowerCase().includes(s)) return true
    if (visitor.organization.toLowerCase().includes(s)) return true
    return false
  })
})

const displayedVisitors = computed(() => {
  return visitorSearchResults.value.slice(0, resultLimit.value)
})

const memberSearchResults = computed(() => {
  return members.value.filter(member => {
    const s = searchText.value.toLowerCase()

    // These could be cached but does it matter?
    const lastAndFirst = member.lastName + ' ' + member.firstName
    const firstAndLast = member.firstName + ' ' + member.lastName

    if (firstAndLast.toLowerCase().includes(s)) return true
    if (lastAndFirst.toLowerCase().includes(s)) return true
    return false
  })
})

const displayedMembers = computed(() => {
  return memberSearchResults.value.slice(0, resultLimit.value)
})

function sortByName (a: { firstName: string }, b: { firstName: string }) {
  if (!a.firstName) return 1
  if (!b.firstName) return -1
  const nameA = a.firstName.toLowerCase()
  const nameB = b.firstName.toLowerCase()
  if (nameA < nameB) return -1
  if (nameA > nameB) return 1
  return 0
}

onMounted(async () => {
  const now = new Date()
  expiryThreshold.value = new Date(expiryThreshold.value.setFullYear(now.getFullYear(), now.getMonth() + 2, 0))

  try {
    // TODO: this is a lot of data and should be replaced with a server-based search.
    const responses = await Promise.all([
      axios.get<Visitor[]>('/api/visitors'),
      axios.get<Event>('/api/events/' + route.params.id),
      axios.get<MCGroup[]>('/api/visitors/mailchimp/groups'),
      axios.get<IndividualMemberCard[]>('/api/individual-members/cards/valid'),
      axios.get<Affiliate[]>('/api/affiliates/valid')
    ])

    // Visitors
    responses[0].data.sort(sortByName)
    visitors.value = responses[0].data

    // Event
    event.value = responses[1].data
    event.value.date = new Date(event.value.date)
    const currentDate = new Date().getTime() - 86400000 // 86400000 = 24h
    if (currentDate > event.value.date.getTime()) oldEvent.value = true

    // Mailchimp lists
    groups.value = responses[2].data

    // Members
    for (const member of responses[3].data) {
      member.validUntil = new Date(member.validUntil)
    }
    // TODO: it would be better for this merging of valid individual to happen on the server
    for (const affiliate of responses[4].data) {
      for (const member of affiliate.members) {
        responses[3].data.push({
          firstName: member.firstName,
          lastName: member.lastName,
          createdDate: new Date(affiliate.createdDate),
          validUntil: new Date(affiliate.validUntil),
          igdaFinlandId: affiliate.memberIdPrefix + affiliate.createdDate.getFullYear().toString().slice(2) + '-' + member.idSuffix,
          membershipType: 'Affiliate'
        })
      }
    }
    responses[3].data.sort(sortByName)
    members.value = responses[3].data

    resetQuickAddForm()
    computeAttendance()
  } catch (err: any) {
    showError('Fetching event, visitor or MailChimp details failed', err.response.data)
  }
})

async function quickAddVisitor (newVisitor: NewVisitor) {
  // Add event subscription
  for (const group of groups.value) {
    if (event.value?.organizer.includes(group.name)) {
      newVisitor.interests[group.id] = true
    }
  }

  try {
    const visitor = (await axios.post<Visitor>('/api/visitors/new', newVisitor)).data
    resetQuickAddForm()
    visitors.value.push(visitor)
    visitors.value.sort(sortByName)
    toggleCheckIn(visitor)
  } catch (err: any) {
    showError('Creating visitor failed', err.response.data)
  }
}

function computeAttendance () {
  let total = 0
  if (event.value) {
    for (let i = 0; i < visitors.value.length; i++) {
      visitors.value[i].checkedIn = false
      for (let j = 0; j < event.value.visitors.length; j++) {
        if (visitors.value[i]._id === event.value.visitors[j].id) {
          visitors.value[i].checkedIn = true
          total++
        }
      }
    }
  }
  totalCheckedInVisitors.value = total
}

function loadMore () {
  resultLimit.value += 20
}

const visitorUpdateModal = ref() // magic
const instance = getCurrentInstance()?.proxy
async function toggleCheckIn (visitor: Visitor) {
  if (!visitor.isLoading) {
    visitor.isLoading = true
    instance?.$forceUpdate()

    type Response = {
      updatedEvent: Event
      result: 'ok' | 'duplicate' | 'not found'
    }

    if (!visitor.checkedIn) {
      // Check-in
      try {
        const res = await axios.post<Response>('/api/events/' + event.value?._id + '/visitors/add', { id: visitor._id })
        if (res.data.result === 'ok') {
          lastVisitor.value = visitor
          lastVisitor.value.oldEmail = visitor.email

          // Show visitor info update modal for old visitors
          const bestBefore = new Date()
          bestBefore.setFullYear(bestBefore.getFullYear(), bestBefore.getMonth() - 5, 0)
          if (!visitor.lastUpdated || visitor.lastUpdated < bestBefore) {
            visitorUpdateModal.value.show()
          }

          showSuccess('Check-in ok', visitor.firstName + ' ' + visitor.lastName + ' is in the house!')
        } else {
          // Was already checked in. No body doubles!
          showError('Check-in failed', visitor.firstName + 'was already checked in. Maybe multiple people editing at the same time?')
        }

        event.value = res.data.updatedEvent
        computeAttendance()
      } catch (err: any) {
        showError('Check-in for ' + visitor.firstName + ' ' + visitor.lastName + ' failed', err.response.data)
      } finally {
        visitor.isLoading = false
        instance?.$forceUpdate()
      }
    } else {
      // Check-out
      try {
        const res = await axios.post<Response>('/api/events/' + event.value?._id + '/visitors/remove', { id: visitor._id })
        if (res.data.result === 'ok') {
          showSuccess('Check-in cancelled', visitor.firstName + ' ' + visitor.lastName + ' was never here')
        } else {
          // Was not checked in. Hmm... Reload?
          showError('Cancelling check-in failed', visitor.firstName + ' ' + visitor.lastName + ' was not checked in. Maybe multiple people editing at the same time?')
        }

        event.value = res.data.updatedEvent
        computeAttendance()
      } catch (err: any) {
        showError('Check-in for ' + visitor.firstName + ' ' + visitor.lastName + ' failed', err.response.data)
      } finally {
        visitor.isLoading = false
        instance?.$forceUpdate()
      }
    }
  }
}
</script>

<style lang="scss">
.checkin-success {
    color:darkgreen;
}
</style>
