<template lang="pug">
div.container
  div(v-if="!events")
    loading-spinner(message="Loading events...")

  div(v-else)
    div.row.justify-content-center.mb-5
      h1 Select an event to check people in

    div.row
      h3 Current or Upcoming Events
    div.row.mb-4
      table.table.table-bordered.table-hover.table-striped
        thead.thead-dark
          tr
            th Organizer
            th Event Name
            th Sponsor
            th Venue
            th Date
        tbody
          tr.table-row-link(v-for="event in currentEvents" :key="event._id" @click="$router.push('/events/checkin/' + event._id)")
            td {{ event.organizer }}
            td {{ event.name }}
            td {{ event.sponsor }}
            td {{ event.location }}
            td {{ formatDate(event.date) }}

    div.row
      h3 Past Events
    div.row
      table.table.table-bordered.table-hover.table-striped
        thead.thead-dark
          tr
            th Organizer
            th Event Name
            th Sponsor
            th Venue
            th Date
        tbody
          tr.table-row-link(v-for="event in pastEvents" @click="$router.push('/events/checkin/' + event._id)")
            td {{ event.organizer }}
            td {{ event.name }}
            td {{ event.sponsor }}
            td {{ event.location }}
            td {{ formatDate(event.date) }}

  raw-data(:data="events" title="events")
</template>

<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue'
import axios from 'axios'
import { showError } from '../notifications'
import type { EventHeadline } from '../types'
import { formatDate } from '../utils'

const currentDate = new Date().getTime() - 86400000 // 86400000 = 24h

const events = ref<EventHeadline[]>([])
onMounted(async () => {
  try {
    const data = (await axios.get<EventHeadline[]>('/api/events/headlines')).data
    for (const event of data) {
      event.date = new Date(event.date)
    }
    events.value = data
  } catch (err: any) {
    showError('Fetching events failed', err.response.data)
  }
})

const currentEvents = computed(() => {
  return events.value.filter(event => event.date.getTime() > currentDate)
})
const pastEvents = computed(() => {
  return events.value.filter(event => event.date.getTime() < currentDate)
})
</script>
