<template lang="pug">
div.container
  div(v-if="!member.membershipType")
    loading-spinner(message="Loading member data...")
  div(v-if="member.membershipType")
    b-row(align-h="center").mb-4
        h1 Edit Member

    div.row
      div.col-md-4.d-none.d-md-block
        b-list-group.p-2
          b-list-group-item.d-flex.justify-content-between.align-items-center(variant="info") Membership <b-badge variant="secondary" :href="`/card/individual/${member._id}`"> View Card</b-badge>
          b-list-group-item.d-flex.justify-content-between.align-items-center ID <span>{{member.igdaFinlandId}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Type <span>{{member.membershipType}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Joined <span>{{ formatDate(member.createdDate) }}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center(v-if="member.membershipType != 'Lifetime'") Status <span>{{member.status}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center(v-if="member.membershipType != 'Lifetime'") Expires <span>{{ formatDate(member.validUntil) }}</span>
        b-list-group.p-2
          b-list-group-item(active) Contact Information
          b-list-group-item.d-flex.justify-content-between.align-items-center Email <span><a :href="member.email">{{member.email}}</a></span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Residence <span>{{member.postOffice}}</span>
        b-list-group.p-2(v-if="member.membershipType != 'Lifetime'")
          b-list-group-item(active) Quick Renew/Change Membership
          b-list-group-item.d-flex.justify-content-center
            b-select(v-model="editedMember.membershipType")
              option Individual
              option Unemployed
              option Student
              option Lifetime
            br/
            b-button(variant="warning" @click="renewMembership()" v-show="editedMember.membershipType == member.membershipType") {{status == "VALID" ? "Extend" : "Renew"}}
            b-button(variant="warning" @click="changeMembership()" v-show="editedMember.membershipType != member.membershipType") {{status == "VALID" ? "Change & Extend" : "Change & Renew"}}
        b-list-group.p-2
          b-list-group-item(active) Remove Member From Database
          b-list-group-item.text-center
            p(v-if="store.userRole >= 4") Warning: can not be undone!
            p(v-else) Dangerous - for admins only
            b-button(variant="danger" @click="deleteMember(member)" :disabled="store.userRole < 4") Delete Member

      div.col-md-8
        b-alert(show variant="info" v-if="store.userRole < 5") Some fields have been disabled to prevent ugly database errors that are hard to fix later. They are for developers only.
        b-form
          b-form-row
            b-form-group.col-sm-4(label="Membership Type *" label-for="type")
              b-select(name="type" v-model="editedMember.membershipType" :disabled="store.userRole < 5" required)
                option Individual
                option Unemployed
                option Student
                option Lifetime
          b-form-row
            b-form-group.col-sm(label="First Name *" label-for="firstName")
              b-input(type="text" name="firstName" v-model="editedMember.firstName" required)
            b-form-group.col-sm(label="Last Name *" label-for="lastName")
              b-input(type="text" name="lastName" v-model="editedMember.lastName" required)
          b-form-row
            b-form-group.col-sm(label="Email *" label-for="email")
              b-input(type="email" name="email" v-model="editedMember.email" required)
            b-form-group.col-sm(label="Place of Residence *" label-for="city")
              b-input(type="text" name="city" v-model="editedMember.postOffice")
          b-form-row
            b-form-group.col-sm(label="Created" label-for="created")
              datepicker(name="created" v-model="editedMember.createdDate" required :disabled="store.userRole < 5" :bootstrap-styling="true")
            b-form-group.col-sm(label="Renewed" label-for="renewed")
              datepicker(name="renewed" v-model="editedMember.lastRenewed" required :disabled="store.userRole < 5" :bootstrap-styling="true")
            b-form-group.col-sm(label="Valid Until" label-for="valid")
              datepicker(name="valid" v-model="editedMember.validUntil" required :disabled="store.userRole < 5" :bootstrap-styling="true")
          b-form-row
            b-form-group.col-sm(label="IGDA Finland ID" label-for="fiID")
              b-input(type="text" name="fiID" v-model="editedMember.igdaFinlandId" required :disabled="store.userRole < 5")
            b-form-group.col-sm(label="IGDA.org ID" label-for="orgId")
              b-input(type="text" name="orgId" v-model="editedMember.igdaOrgId" required :disabled="store.userRole < 5")
          b-form-row.justify-content-center.m-4
            b-button(variant="success" @click="updateMember(editedMember)" :disabled="!isFormValid") Update Member
</template>

<script>
import { useStore } from '../store'
import Datepicker from 'vuejs-datepicker'
import { formatDate } from '../utils'
import router from '../router'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'

export default {
  components: {
    Datepicker
  },
  setup () {
    const store = useStore()

    return {
      store
    }
  },
  data: function () {
    return {
      member: {
        membershipType: null
      },
      editedMember: {
        membershipType: null
      },
      status: ''
    }
  },
  computed: {
    isFormValid: function () {
      let result = true
      if (this.editedMember.firstName === '' ||
        this.editedMember.lastName === '' ||
        this.editedMember.email === '' ||
        this.editedMember.postOffice === '') { result = false }
      return result
    }
  },
  mounted: function () {
    axios.get('/api/individual-members/' + this.$route.params.id)
      .then(res => {
        this.member = res.data
        this.member.validUntil = new Date(this.member.validUntil)
        this.member.createdDate = new Date(this.member.createdDate)
        this.editedMember = JSON.parse(JSON.stringify(this.member))
        this.editedMember.validUntil = new Date(this.editedMember.validUntil)
        this.editedMember.createdDate = new Date(this.editedMember.createdDate)
        if (this.editedMember.lastRenewed) { this.editedMember.lastRenewed = new Date(this.editedMember.lastRenewed) } else { this.editedMember.lastRenewed = new Date(0) }

        if (this.member.membershipType === 'Lifetime') { this.status = 'LIFETIME' } else if (this.member.validUntil > new Date()) { this.status = 'VALID' } else { this.status = 'EXPIRED' }
      })
      .catch(err => showError('Fetching member data failed', err.response ? err.response.data : err))
  },
  methods: {
    renewMembership: function () {
      if (this.member.validUntil < new Date()) {
        this.member.validUntil = new Date()
      }
      this.member.validUntil.setFullYear(this.member.validUntil.getFullYear() + 1, this.member.validUntil.getMonth() + 1, 0)
      this.member.validUntil.setHours(23, 59, 59)
      this.member.lastRenewed = new Date()

      axios.put('/api/individual-members/' + this.member._id, this.member)
        .then(res => {
          showSuccess('Membership renewed', this.member.firstName + ' now has one more year on the clock!')
          router.push({ path: '/individual-members' })
        })
        .catch(err => showError('Renewing membership failed', err.response ? err.response.data : err))
    },
    changeMembership: function () {
      if (this.member.validUntil < new Date()) {
        this.member.validUntil = new Date()
      }
      this.member.validUntil.setFullYear(this.member.validUntil.getFullYear() + 1, this.member.validUntil.getMonth() + 1, 0)
      this.member.validUntil.setHours(23, 59, 59)
      this.member.lastRenewed = new Date()
      this.member.membershipType = this.editedMember.membershipType

      axios.put('/api/individual-members/' + this.member._id, this.member)
        .then(res => {
          showSuccess('Membership changed & renewed', this.member.firstName + ' now has one more year on the clock!') // No custom message for lifetime upgrades. Boo!
          router.push({ path: '/individual-members' })
        })
        .catch(err => showError('Changing membership failed', err.response ? err.response.data : err))
    },
    deleteMember: function () {
      axios.delete('/api/individual-members/' + this.member._id)
        .then(res => {
          showSuccess('Member deleted')
          router.push({ path: '/individual-members' })
        })
        .catch(err => showError('Deleting member failed', err.response ? err.response.data : err))
    },
    updateMember: function (member) {
      axios.put('/api/individual-members/' + this.member._id, member)
        .then(res => {
          showSuccess('Member updated', res.data.firstName + ' is now up-to-date!')
          router.push({ path: '/individual-members' })
        })
        .catch(err => showError('Updating member failed', err.response ? err.response.data : err))
    },
    formatDate,
  }
}
</script>
