<template lang="pug">
div.container
  div(v-if="!groups")
    loading-spinner(message="Loading MailChimp mailing lists...")
  div(v-if="groups")
    b-row(align-h="center").mb-4
      h1 Create a New Visitor

    div.row
      div.col-md-4.d-none.d-md-block
        b-list-group.mb-2
          b-list-group-item(active) Visitor Details
          b-list-group-item.d-flex.justify-content-between.align-items-center First name <span>{{newVisitor.firstName}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Last name <span>{{newVisitor.lastName}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Email <span>{{newVisitor.email}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Organization <span>{{newVisitor.organization}}</span>
      div.col-md-8
        b-form
          b-form-row
            b-form-group.col-sm(label="First Name *" label-for="firstName")
              b-input(type="text" name="firstName" v-model="newVisitor.firstName" required)
            b-form-group.col-sm(label="Last Name *" label-for="lastName")
              b-input(type="text" name="lastName" v-model="newVisitor.lastName" required)
          b-form-row
            b-form-group.col-sm(label="Email *" label-for="email")
              b-input(type="email" name="email" v-model="newVisitor.email" required)
            b-form-group.col-sm(label="Organization" label-for="organization")
              b-input(type="text" name="organization" v-model="newVisitor.organization")
          b-form-row
            b-form-group.col-sm(label="MailChimp Mailing Lists")
              b-form-checkbox(v-for="group in groups" :key="group.id" v-model="newVisitor.interests[group.id]") {{group.name}}
          b-form-row.justify-content-center.m-4
            b-button(variant="success" @click="createVisitor" :disabled="!isFormValid") Create Visitor

    raw-data(:data="newVisitor" title="newVisitor")
    raw-data(:data="groups" title="groups")
</template>

<script lang="ts" setup>
import router from '../router'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'
import type { MCGroup, NewVisitor } from '../types'
import { computed, onMounted, ref } from 'vue'

// Mailchimp mailing lists

const groups = ref<MCGroup[]>()

onMounted(async () => {
  try {
    groups.value = (await axios.get<MCGroup[]>('/api/visitors/mailchimp/groups')).data
  } catch (err: any) {
    showError('Fetching MailChimp groups failed', err.response.data)
  }
})

// New visitor logic

const newVisitor = ref<NewVisitor>({
  email: '',
  firstName: '',
  lastName: '',
  lastUpdated: new Date(),
  organization: '',
  interests: {}
})

const isFormValid = computed(() => {
  if (newVisitor.value.firstName === '' || newVisitor.value.lastName === '' || newVisitor.value.email === '') return false
  return true
})

async function createVisitor () {
  try {
    const res = (await axios.post('/api/visitors/new', newVisitor.value)).data
    showSuccess('Visitor created', 'Tell ' + res.firstName + ' to join an event!')
    router.push({ path: '/events/visitors' })
  } catch (err: any) {
    showError('Creating visitor failed', err.response.data)
  }
}
</script>
