<template lang="pug">
div.mt-5.container.bg-light.p-3.rounded(v-if="store.userRole === 5")
  h5
    | Raw data
    |
    span(v-show="title") for '{{ title }}'
    small.text-muted.ml-1 (devs only)
  pre: code.small.font-mono {{ JSON.stringify(data, null, 2) }}
</template>

<script lang="ts" setup>
import { useStore } from '../store'

const store = useStore()

defineProps<{
  title?: string
  data: any
}>()
</script>
