<template lang="pug">
div
  top-navigation/

  notifications(group="error" position="top right")/
  notifications(group="success" position="top center")/

  router-view/

  footer
    div.text-center.small Current version: {{ store.version }} (#[router-link(to="/patchnotes") what's new?])
    div.text-center.small Created with love and understanding by the glorious people of #web-and-tech-projects. <a href="http://gitlab.com/igdafi/emmi" target="_blank" rel="noopener">Help us make Emmi better!</a>
</template>

<script lang="ts" setup>
import { useStore } from './store'
import axios from 'axios'
import { showError } from './notifications'
import router from './router'

const store = useStore()

function clearLoggedInState () {
  store.isLoggedIn = false
  store.username = ''
  store.userRole = 0
  store.roleName = ''
}

axios.interceptors.response.use((res) => {
  return res
}, (err) => {
  // On every request response error...
  // Handle session expiration
  if (err.response) {
    if (err.response.status === 401 && err.response.data === 'Not authenticated') {
      clearLoggedInState()
      router.push({ path: '/400' })
    } else if (err.response.status === 401) {
      router.push({ path: '/400' })
    }
  }
  return Promise.reject(err)
})

axios.get('/api/state')
  .then(res => {
    store.isProductionEnv = res.data.env === 'production'
    store.version = res.data.version

    if (res.data.user) {
      store.isLoggedIn = true
      store.username = res.data.user.name
      store.userRole = res.data.user.role
      store.roleName = res.data.user.roleName
    } else {
      clearLoggedInState()
    }
  })
  .catch(err => showError('Environment check failed', err.response.data))
</script>

<style lang="sass">
html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height + margin */
  margin-bottom: 145px

footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 45px

h1
    margin-bottom: 20px

h2
    margin-bottom: 20px

h3
    margin-bottom: 20px

.table-row-link
  cursor: pointer

/* Datepicker dark theme fix */
.vdp-datepicker__calendar
  color: black
</style>
