<template lang="pug">
div.container.p-5
  div.row.d-flex.justify-content-center.mb-4
    img(src="logo.png" alt="IGDA Finland logo" height="100")
  router-view/
</template>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P')
$font-family-sans-serif: "Press Start 2P", sans-serif

$body-bg: #000
$body-color: #FFF

// Core Bootstrap 4
@import "bootstrap/scss/functions"
@import "bootstrap/scss/variables"
@import "bootstrap/scss/mixins"

// Extras
@import "bootstrap/scss/reboot"
@import "bootstrap/scss/type"
@import "bootstrap/scss/grid"
@import "bootstrap/scss/utilities"
</style>
