<template lang="pug">
div
  div.row.d-flex.justify-content-center.text-center.mb-3
    h4 Membership Cards

  div.row.no-gutters.justify-content-center
    div.col-md-7.col-lg-5
      div.row.justify-content-center.text-center.mb-5(v-if="oldId")
        p OH NO! Seems like you tried to follow an old link.
        p We've updated the system to be more privacy minded so please order a new membership link. Sorry about that!

      div.row.justify-content-center.text-center.mb-5(v-else)
        p You can access your very own digital membership card by clicking the link in your email.

      div.row.justify-content-center.text-center(v-if="showResult")
        p(v-if="emailError") Oh snap! There was an error sending an email to <strong>{{email}}</strong>. Please contact us at members@igda.fi and we'll sort this out together.<br/><small>Details: {{emailError}}</small>
        p(v-else) Success! Email sent to <strong>{{email}}</strong> and should arrive shortly.
      div.row.justify-content-center.text-center(v-if="wrongEmail")
        p(v-if="emailError") We couldn't find anyone with the email <strong>{{wrongEmailAddress}}</strong>. Maybe you registered with something else?

      div.row.justify-content-center.text-center(v-if="showSpinner")
        p Sending email...

      div(v-if="!hideForm")
        div.row.justify-content-center.text-center.mb-3
          small Lost the email? Don't panic!

        form
          div.row.justify-content-center.mb-1
            input(type="email" name="email" v-model="email" required)
          div.row.justify-content-center.text-center.mb-3
            small.text-muted(v-if="!isFormValid") Please fill in a valid email.

          div.row.justify-content-center
            button(:disabled="!isFormValid" @click="sendEmail") Request Link
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router'

import axios from 'axios'
import { computed, ref } from 'vue'

const hideForm = ref(false)
const showSpinner = ref(false)
const showResult = ref(false)
const wrongEmail = ref(false)
const emailError = ref<string>()
const wrongEmailAddress = ref<string>()
const email = ref<string>()
const oldId = ref<string>()

const isFormValid = computed(() => {
  if (!email.value) return false
  else return true
})

const route = useRoute()
if (route.params.oldId) {
  oldId.value = String(route.params.oldId)
}

function sendEmail () {
  showSpinner.value = true
  hideForm.value = true
  emailError.value = undefined
  wrongEmail.value = false
  showResult.value = false

  axios.post('/api/cards/get-link', { email: email.value })
    .then(() => {
      showResult.value = true
      showSpinner.value = false
    })
    .catch((err: any) => {
      emailError.value = err
      showSpinner.value = false
      hideForm.value = false
      if (err.response.status === 400) {
        wrongEmail.value = true
        wrongEmailAddress.value = email.value
        email.value = ''
      } else { showResult.value = true }
    })
}
</script>
